PORT = port number
MONGO_URI = mongodb connection string
JWT_SECRET = secret key for JWT authentication

EMAIL_USER = email address for sending emails
EMAIL_PASS = password for the email address

CLOUDINARY_CLOUD_NAME = cloudinary cloud name
CLOUDINARY_API_KEY = cloudinary API key
CLOUDINARY_API_SECRET = cloudinary API secret

RAZORPAY_KEY_ID = razorpay key id
RAZORPAY_KEY_SECRET = razorpay key secret